/* Reset and general styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6vh;
  width: 100vw;
  height: 80vh;
}

.image-wrapper {
  margin-top: -2vh;
  margin-right: 5vw;
}

#profile-image {
  width: 30vw;
  height: 40vh;
  border-radius: 20vw;
  box-shadow: 2vw 2vw 4vw #ccc;
}

.text-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-name {
  color: #e5e7eb;
  font-family: monospace;
  font-size: 4vw;
  font-weight: bold;
  text-shadow: 1vw 1vw 5vw #ccc;
  margin-bottom: 2vh;
}

.info {
  display: flex;
  color: white;
  font-family: monospace;
  font-size: 1.5vw;
  margin-bottom: 2vh;
}

.info span {
  color: #577ab2;
  margin-left: 1vw;
}

.resume-link {
  margin: 1vh;
}

.resume-btn {
  background-color: transparent;
  border: 0.5vw solid #fff;
  border-radius: 1vw;
  color: #fff;
  padding: 1vh 2vw;
  font-family: monospace;
  font-size: 1.5vw;
  transition: all 0.2s ease-in-out;
}

.resume-btn:hover {
  background-color: white;
  color: #577ab2;
  cursor: pointer;
}

.button-group {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

/* Mobile view */
@media (max-width: 768px) {
  .hero-container {
    margin-top: 0;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }

  .image-wrapper {
    margin-top: 10vh;
    margin-right: 1vw;
  }

  #profile-image {
    width: 53vw;
    height: 35vh;
    border-radius: 50%;
    box-shadow: 2vw 2vw 4vw #ccc;
  }

  .main-name {
    font-size: 7vw;
    margin-bottom: 2vh;
  }

  .info {
    font-size: 5vw;
    margin-bottom: 1vh;
  }

  .resume-link {
    margin: 1vh;
  }

  .resume-btn {
    margin-top: auto;
    padding: 1vh 2vw;
    font-size: 4vw;
  }

  .button-group {
    margin-top: 5vh;
  }
}
