.about-section {
    color:white;
    background: linear-gradient(to right, #121111, #577ab2);
    border-radius: 0 500px 500px 0;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    width: 98%;
    justify-content: center;
    align-items: center;
    margin-bottom: 30vh;
}

.about-section-text-container-content > p{
    font-size: 20px;
    text-wrap: wrap;
    padding: 50px;
}

#aboutMeTitle{
    margin-left: 20px;
    font-size:60px;
    font-weight: bold;
    margin-bottom: 20px;
}

#who{
    color:#577ab2;
}