/* Reset and general styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar styles */
.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5%;
  background: linear-gradient(to right, #121111, #577ab2);
 
  width: 100%;
  z-index: 1000;
}

.logo-container {
  border-radius: 10%;
  text-align: center;
  background: linear-gradient(to left, #121111, #577ab2);
  padding: 5px;
  font-size: 30px;
  cursor: pointer;
}

.logo-link {
  color: white;
  font-size: 30px;
  text-decoration: none;
  font-family: monospace;
  font-weight: bold;
}

.nav-links {
  list-style-type: none;
  display: flex;
}

.nav-links li {
  padding: 0 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-family: monospace;
  transition: color 0.2s;
}

.nav-link:hover {
  color: #000000;
}

/* Media queries */
@media (max-width: 1200px) { 
  .navbar-container {
    flex-direction: column;
    align-items: center;
  }

  .nav-links {
    flex-direction: column;
    margin-top: 10px;
  }

  .nav-links li {
    padding: 10px 0;
  }
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .logo-container {
    margin-right: 0;
    text-align: center;
  }
}
