/* * {
    margin: 0;
    

} */

.navContainer
{
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding-top: 10px;

}

nav
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 5%;
  padding-right: 10px;
  width: 100%;
  background: linear-gradient(to right, #121111, #577ab2);
  position: fixed;
}

nav ul li
{
  list-style-type: none;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
}

nav ul li a
{
  color: white;
  text-decoration: none;
  font: monospace;
}

nav ul li a:hover
{
  color: #000000;
  transition: .2sec;
}


.nameLogo 
{
  color: white;
  font-size: 25px;
  font-family: monospace;
  font-weight: bold;
  display: flexbox; 
}


@media (max-width: 1200px) { 
    .navbar-container>nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .nav-links-container>ul{
        display: flex;
        flex-direction: row;
        margin-left: -15%;
    }
    
    .nav-links-container>ul>li {
       
        padding-left: 7%;
   
    }
    


}