* {
    margin: 0;
    

}

.navbar-container
{
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding-top: 10px;

}

nav
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 35px;
  padding-left: 5%;
  padding-right: 10px;
  width: 100%;
  background: linear-gradient(to right, #121111, #577ab2);
  position: fixed;
 
}

#logo-design {
  border-radius: 50%;
  text-align: center;
  background:#577ab2;
  padding: 3px;
  font-size: 30px;
  cursor: pointer;
  animation: rotate 1.5s;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
}
100% {
    transform: rotate(360deg);
}
  
}

nav ul li
{
  list-style-type: none;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
}

nav ul li a
{
  color: white;
  text-decoration: none;
  font: monospace;
}

nav ul li a:hover
{
  color: #000000;
  transition: .2sec;
}


.nameLogo 
{
  color: white;
  font-size: 25px;
  font-family: monospace;
  font-weight: bold;
  display: flexbox; 
}


@media (max-width: 1200px) { 
    .navbar-container>nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .nav-links-container>ul{
        display: flex;
        flex-direction: row;
        margin-left: -15%;
    }
    
    .nav-links-container>ul>li {
       
        padding-left: 7%;
   
    }
    


}