.experience-section {
    color: white;
    background: linear-gradient(to left, #121111, #577ab2);
    border-radius: 0 500px 500px 0;    font-weight: bold;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 30vh;

    height: 50vh;
}


.each-experience {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */

}