
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}






.experienceCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}


.card-content {
  padding-left: 20px;
  color: #fff;
}




@media (max-width: 768px) {



  .experienceCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .card-content {
    padding-left: 0;
    margin-top: 10px;
    text-align: center;
  }
}