

#copyright {
    font-size: 1.2vw;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 0 5vw;
}







@media only screen and (max-width: 600px) {
    #copyright {
        width: 100%;
        font-size: .8em;
        padding: 2em 3em;
    }

}
